<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
    <title>DashBoard</title>
</head>
<body>
    <div class="header">
        <h1>DashBoard</h1><br>
        
    </div>
    <div class="add_students">
        <a  href="/add_students">Add Student</a>
    </div>
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Year</th>
                <th>Section</th>
                <th>Major</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {%for i in students%}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
                <td>{{i[5]}}</td>
                <td><a style="background-color: #45f311; " href="{{i[0]}}">Confirm</a><a style="background-color: #114df3; " href="{{i[0]}}">View</a><a style="background-color: #dd2c0d; " href="delete/{{i[0]}}">Delete</a></td>
            </tr>
            {%endfor%}
    </table>
</body>
</html>